@font-face {
	font-family: 'Neopixel';
	src: url('/assets/fonts/neopixel-regular.otf') format('opentype');
}

@font-face {
	font-family: 'Stolzl-Book';
	src: url('/assets/fonts/Stolzl-Book.otf') format('opentype');
}

@font-face {
	font-family: 'stolzl_regular';
	src: url('/assets/fonts/stolzl_regular.otf') format('opentype');
}

@font-face {
	font-family: 'stolzl_medium';
	src: url('/assets/fonts/stolzl_medium.otf') format('opentype');
}
